{
  "redirects": [
    {
      "source": "http://mitfloww.com/:path*",
      "destination": "https://www.mitfloww.com/:path*",
      "permanent": true
    },
    {
      "source": "https://mitfloww.com/:path*",
      "destination": "https://www.mitfloww.com/:path*",
      "permanent": true
    },
    {
      "source": "http://www.mitfloww.com/:path*",
      "destination": "https://www.mitfloww.com/:path*",
      "permanent": true
    }
  ]
}
